@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:  "poppins", 'Helvetica Neue',
    sans-serif;
    background-color: rgb(170, 170, 170);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
